packages: [
  "atom-beautify"
  "atom-ternjs"
  "autocomplete-clang"
  "autocomplete-modules"
  "color-picker"
  "editorconfig"
  "emmet"
  "es6-javascript"
  "file-icons"
  "go-debug"
  "go-plus"
  "go-signature-statusbar"
  "hyperclick"
  "language-babel"
  "language-csv"
  "language-docker"
  "language-dots"
  "language-gitignore"
  "language-matlab"
  "language-protobuf"
  "linter"
  "linter-eslint"
  "linter-gcc"
  "local-history"
  "markdown-toc"
  "minimap"
  "minimap-find-and-replace"
  "package-sync"
  "pigments"
  "qolor"
]
